.container {
  height: 100%;
  justify-content: center;
  margin: 50px;
}

.loader {
  width: 100%;
  height: 100vh;
  font-weight: 300;
  align-items: center;
}

.movies {
  display: grid;
  padding: 70px;
  grid-template-columns: minmax(150px, 1fr) 1fr;
  grid-gap: 50px;
}