.bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  filter: brightness(50%);
}

.show {
  position: absolute;
  top: 20%;
  left: 20%;
  display: flex;
  align-items: center;
}

.text {
  color: white;
  padding: 30px;
  font-weight: 600;
  font-size: 18px;
}

.title {
  font-size: 28px;
}

.title :hover {
  color: blue;
  transition: 0.7s;
}

.title a {
  color: white;
  text-decoration: none;
}