.container {
  text-decoration: none;
  box-shadow:  0 13px 27px -5px rgba(50, 50, 93, 0.25),
  0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  border-radius: 10px;
  padding: 20px 20px 20px 10px;
  font-weight: 300;

}

.img {
  position: relative;
  max-width: 150px;
  width: 100%;
  margin-right: 30px;
}

.title {
  margin: 0;
  font-weight: 300;
}

.title a {
  margin-bottom: 5px;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.title :hover {
  color: blue;
  transition: 0.7s;
  text-decoration: underline;
}

.genres {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}

.genres li {
  margin-right: 10px;
  font-size: 14px;
}